<template>
    <div 
    :class="getBorderColor"
    class="p-[2px] md:p-1 border-[1.5px] rounded-full w-fit">
        <img :src="photo" class="h-6 w-6 md:h-8 md:w-8 rounded-full object-cover object-center" :alt="alt">
    </div>
</template>

<script>
export default {
    name : 'AvatarItem',
    props : {
        photo : {
            type : String,
            default : '',
            required : true
        },
        alt : {
            type : String,
            required : true
        },
        border : {
            type : String,
            default : 'green'
        }
    },
    computed : {
        getBorderColor(){
            return {
                'border-green' : this.border === 'green',
                'border-white' : this.border === 'white'
            }
        }
    }
}
</script>