<template>
    <div class="flex justify-between">
        <div class="flex space-x-4">
            <button class="flex items-center space-x-1 group" @click="$emit('onLike')">
                <img :src="getLikeIcon" class="w-4 group-hover:rotate-12" alt="like">
                <p class="text-sm">{{ like }}</p>
            </button>
            <button class="flex items-center space-x-1 group" @click="$emit('onRetweet')">
                <img src="/assets/icons/retweet.svg" class="w-4 group-hover:rotate-12" alt="retweet">
                <p class="text-sm">{{ retweet }}</p>
            </button>
        </div>
        <slot name="right-side"/>
    </div>
</template>

<script>

export default {
    name: 'FooterTweet',
    emits:['onLike','onRetweet'],
    props : {
        like : {
            type : Number,
            default : 0
        },
        isLike : {
            type : Boolean,
            default : false
        },
        retweet : {
            type : Number,
            default : 0
        },
    },
    computed : {
        getLikeIcon(){
            return this.isLike ? "/assets/icons/like.svg" : "/assets/icons/unlike.svg"
        }
    }

}
</script>