<template>
    <div class="flex items-center space-x-1 border-[1.5px] pb-2 border-b-light-green border-trans">
        <Avatar 
        :photo="photo"
        :alt="username"/>
        <p class="text-sm font-medium">{{ username }} - <span class="opacity-80 text-xs">{{ userId }}</span></p>
    </div>
    <p class="text-sm text-justify my-2">{{ text }}</p>
</template>

<script>
import Avatar from './Avatar.vue'

export default {
    name : 'HeaderTweet',
    components : {
        Avatar
    },
    props : {
        photo : {
            type : String,
            default : ''
        },
        username : {
            type : String,
            default : ''
        },
        userId : {
            type : String,
            default : ''
        },
        text : {
            type : String,
            default : ''
        }
    }
}
</script>