<template>
    <div class="bg-green p-2 rounded-md">
        <form @submit.prevent="$emit('onSubmit',value)">
            <textarea v-model="value" ref="textarea" placeholder="tweet here..." class="outline-none w-full rounded-sm text-green text-sm p-1"/>
            <div class="flex justify-between items-center mt-2">
                <p class="text-sm font-medium">{{ getCharacterLength }}/{{ maxCharacter }}</p>
                <div class="space-x-1">
                    <button v-if="hasClearButton" @click="clearValue" class="bg-red py-1 px-2 rounded-sm hover:opacity-90 text-sm">Clear</button>
                    <button type="submit" :disabled="isDisabled" class="bg-gold disabled:opacity-50 py-1 px-2 rounded-sm hover:opacity-90 text-sm">Tweet</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name : 'InputForm',
    data(){
        return {
            value : ''
        }
    },
    emits : ['onSubmit'],
    props : {
        hasClearButton : {
            type : Boolean,
            default : false
        },
        maxCharacter : {
            type : Number,
            default : 20
        }
    },
    computed : {
        isDisabled(){
            return this.value.length > this.maxCharacter || !this.value
        },
        getCharacterLength(){
            return this.value.length
        }
    },
    methods : {
        clearValue(){
            this.value = ""
        },
        focusInput(){
            this.$refs.textarea.focus()
        }
    }
}
</script>