<template>
    <div class="shadow-lg bg-[#00000033] p-2 rounded-md">
        <div v-if="item">
            <HeaderTweet
            :photo="item.user.photo"
            :username="item.user.name"
            :userId="item.user.id"
            :text="item.text"/>
            <FooterTweet
            @onLike="handleLike"
            @onRetweet="handleRetweet"
            :isLike="isLike"
            :like="getLike"
            :retweet="getRetweet">
            <template #right-side>
                <button class="transition-all hover:rotate-12" v-if="canRemove" @click="removeComment">
                    <img src="/assets/icons/delete.svg" alt="remove-comment">
                </button>
            </template>
            </FooterTweet>
        </div>
    </div>
</template>

<script>
import HeaderTweet from './HeaderTweet.vue';
import FooterTweet from './FooterTweet.vue';

export default {
    name : 'OneComment',
    components : {
        HeaderTweet,
        FooterTweet,
    },
    data(){
        return {
            isLike : false,
            addRetweet : 0
        }
    },
    computed : {
        canRemove(){
            const {id} = JSON.parse(localStorage.getItem('user'))
            return this.item.user.id === id
        },
        getRetweet(){
            return this.item.retweet + this.addRetweet
        },
        getLike(){
            return this.isLike ? this.item.like + 1 : this.item.like
        }
    },
    methods : {
        removeComment(){
            this.$store.dispatch('deleteComment',this.item.id)
        },
        async onLike(){
            try{
    
                const {
                    like,
                    id
                } = this.item
    
                const lastLike = like ? like : 0;

                this.isLike = true
    
                await this.$axios.patch(`/comments/${id}`,{
                    like : lastLike + 1
                })
                
            }catch(e){
                console.error(e);
            }
        },

        async onDislike(){
            try{
                const {
                    like : lastLike,
                    id
                } = this.item

                // console.log(lastLike, 'onDISLIKE');

                this.isLike = false

                await this.$axios.patch(`/comments/${id}`,{
                    like : lastLike
                })
                
            }catch(e){
                console.error(e);
            }
        },
        handleLike(){
            this.isLike ? this.onDislike() : this.onLike()
        },

        async handleRetweet(){
            try{
                const {
                    retweet,
                    id
                } = this.item

                const lastRetweet = retweet ? retweet : 0;
                this.addRetweet += 1

                await this.$axios.patch(`/comments/${id}`,{
                    retweet : lastRetweet + this.addRetweet
                })
                
            }catch(e){
                console.error(e);
            }
        },
    },
    props : {
        item : {
            type : Object,
            default : ()=>{}
        }
    },
}
</script>