<template>
    <div
    @mouseenter="onMouseEnterForm"
    @mouseleave="onMouseLeaveForm"
    v-if="item"
    class="p-2 bg-green rounded-md">
        <HeaderTweet
        :photo="item.user.photo"
        :username="item.user.name"
        :userId="item.user.id"
        :text="item.text"
        />
        <FooterTweet
        @onLike="handleLike"
        @onRetweet="handleRetweet"
        :isLike="isLike"
        :like="getLike"
        :retweet="getRetweet"
        >
            <template #right-side>
                <div class="flex flex-end space-x-4">
                    <button class="transition-all hover:rotate-12" v-if="canRemove" @click="removeTweet">
                        <img src="/assets/icons/delete.svg" alt="remove-comment">
                    </button>
                    <button 
                    ref="buttonRef"
                    @click="toogleFormComment"
                    class="bg-white py-1 px-2 rounded-sm text-green hover:opacity-90 text-sm">Comment</button>
                </div>
            </template>
        </FooterTweet>
        <div 
        class="border-[1.5px] pb-2 border-trans border-b-light-green">
            <keep-alive>
                <InputForm 
                ref="inputForm"
                v-if="isShowFormComment"
                hasClearButton
                :maxCharacter="5"
                @on-submit="handleSubmitComment"
                class="mt-4 shadow-lg"/>
            </keep-alive>
        </div>
        <div 
        class="mt-2">
            <button 
            @click="toogleShowComments"
            class="text-sm font-semibold text-gold">{{isShowComments ? 'hide' : 'show'}} all {{ getCommentsNumber }} comments</button>
            <div v-if="item.comments && isShowComments" class="mt-2 space-y-1">
                <OneComment
                v-for="(item, index) in item.comments" :key="index"
                :item = "item"/>
            </div>
        </div>
    </div>
</template>

<script>
import InputForm from './InputForm.vue';
import HeaderTweet from './HeaderTweet.vue'
import FooterTweet from './FooterTweet.vue';
import OneComment from './OneComment.vue';

export default {
    name : "OneTweet",
    data(){
        return {
            isShowFormComment : false,
            isMouseOverForm : false,
            isShowComments : false,
            isLike : false,
            addRetweet : 0
        }   
    },
    props : {
        item : {
            type : Object,
            default : ()=>{}
        },
        // commentsitem : {
        //     type : Boolean,
        //     default : false
        // }
    },
    computed : {
        getCommentsNumber(){
            if(this.item.comments) return this.item?.comments.length
            return 0
        },
        canRemove(){
            const {id} = JSON.parse(localStorage.getItem('user'))
            return this.item.user.id === id
        },
        getRetweet(){
            return this.item.retweet + this.addRetweet
        },
        getLike(){
            return this.isLike ? this.item.like + 1 : this.item.like
        }
    },
    components : {
        InputForm,
        HeaderTweet,
        FooterTweet,
        OneComment
    },
    methods : {
        toogleFormComment(){
            this.isShowFormComment = !this.isShowFormComment
        },
        removeTweet(){
            this.$store.dispatch('deleteTweet',this.item.id)
        },
        onMouseEnterForm(){
            this.isMouseOverForm = true
        },
        onMouseLeaveForm(){
            this.isMouseOverForm = false
        },
        toogleShowComments(){
            this.isShowComments = !this.isShowComments
        },
        hideNotOnMouseOver(){
            if(!this.isMouseOverForm){
                this.isShowFormComment = false
            }
        },

        async onLike(){
            try{
                const {
                    like,
                    id
                } = this.item
                
                // this.item.like = like + 1
                this.isLike = true

                const lastLike = like ? like : 0;
    
                await this.$axios.patch(`/tweets/${id}`,{
                    like : lastLike + 1
                })
                
                
            }catch(e){
                console.error(e);
            }
        },

        async onDislike(){
            try{
    
                const {
                    like : lastLike,
                    id
                } = this.item

                // this.item.like = lastLike - 1
                this.isLike = false

                await this.$axios.patch(`/tweets/${id}`,{
                    like : lastLike
                })
                
                
            }catch(e){
                console.error(e);
            }
        },

        handleLike(){
            this.isLike ? this.onDislike() : this.onLike()
        },

        async handleRetweet(){
            try{
                const {
                    retweet,
                    id
                } = this.item

                const lastRetweet = retweet ? retweet : 0;
                
                this.addRetweet += 1

                await this.$axios.patch(`/tweets/${id}`,{
                    retweet : lastRetweet + this.addRetweet
                })
                
            }catch(e){
                console.error(e);
            }
        },

        handleSubmitComment(value){
            if(value){
                this.$store.dispatch('addComment',{
                    tweetId : this.item.id,
                    newComment : value
                })
                this.isShowFormComment = false
                this.$refs.inputForm.clearValue()
                this.isShowComments = true
            }
        }
    },
    mounted(){

        window.addEventListener('click',(e) => {
            /**
             * All condition must true
             * 1. form comment must be show, because it handle only while form is show
             * 2. the click trigger is not buttton ref, because the button click is only for call toogleFormComment()
             * 3. last, mouse is not over the form, because while mouse over the form so, it will only trigger by inner component
             */
            
            if(this.isShowFormComment && e.target !== this.$refs.buttonRef && !this.isMouseOverForm) {
                this.hideNotOnMouseOver()
            }
        })

    },
}
</script>