<template>
    <section class="pt-6">
        <box>
            <h1 class="font-semibold text-center lg:text-lg lg:text-start lg:mb-2 mb-1">Create Tweet</h1>
            <InputForm @on-submit="addTweet" ref="inputForm"/>
        </box>
    </section>
</template>

<script>
import InputForm from '../components/InputForm.vue'
export default {
    name : 'AddTweetsSection',
    components : {
        InputForm
    },
    methods : {
        addTweet(value){
            try{
                if(value) {
                    this.$store.dispatch('addTweet',value)
                }
                this.$refs.inputForm.clearValue()

            }catch(e){
                console.error(e);
            }
        }
    },
    mounted(){
        this.$refs.inputForm.focusInput()
    }
}
</script>