<template>
    <section class="mt-8 pb-8">
        <box>
            <h1 class="font-semibold text-center lg:text-lg lg:text-start lg:mb-2 mb-1">All Tweet</h1>
            <div v-if="$store.state.loading === false && $store.state.allTweets" class="space-y-2">
                <OneTweet 
                v-for="(item, index) in $store.state.allTweets" :key="index"
                :item="item"/>
            </div>
        </box>
    </section>
</template>

<script>
import OneTweet from '../components/OneTweet.vue';

export default {
    name : "AllTweet",
    components : {
        OneTweet
    },
    created(){
        this.$store.dispatch('getAllTweets')
    }
}
</script>