<template>
    <nav class="bg-gold py-2">
        <box class="flex justify-between items-center">
            <h1 class="font-extrabold text-lg text-white">APP.TWEET</h1>
            <div class="flex space-x-2 items-center">
                <div class="hidden md:block">
                    <h6 class="text-white font-semibold">{{ profile.name }}</h6>
                    <p class="text-white text-sm -mt-1">{{ profile.id }}</p>
                </div>
                <Avatar
                border="white"
                alt="hasan"
                :photo="profile.photo"/>
            </div>
        </box>
    </nav>
</template>

<script>
import Avatar from '../components/Avatar.vue';

export default{
    name : 'NavbarSection',
    data(){
        return {
            profile : {}
        }
    },
    components : {
        Avatar
    },
    methods : {
        async getProfile(){
            const {data} = await this.$axios.get('/profile');
            localStorage.setItem("user",JSON.stringify(data))
            this.profile = data
        }
    },
    created(){
        this.getProfile()
    }
}
</script>