<template>
  <Navbar/>
  <AddTweet/>
  <AllTweet/>
</template>

<script>
import Navbar from './sections/Navbar.vue';
import AddTweet from './sections/AddTweets.vue'
import AllTweet from './sections/AllTweets.vue';

export default {
  components : {
    Navbar,
    AddTweet,
    AllTweet
  }
}
</script>
